@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap");
body {
  font-family: 'Manrope', sans-serif;
  color: #262626;
}

h1 {
  font-size: 2.2rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  color: #3E4756;
  text-transform: lowercase;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-size: 1rem;
  line-height: 1.7rem;
}

.tab-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fafafa;
  -webkit-box-shadow: 0px -5px 11px 0px rgba(167, 183, 222, 0.2);
          box-shadow: 0px -5px 11px 0px rgba(167, 183, 222, 0.2);
  z-index: 4;
}

@media (min-width: 768px) {
  .tab-bar {
    display: none;
  }
}

.tab-bar a {
  text-decoration: none;
  color: inherit;
}

.tab {
  width: 44px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab__icon {
  width: 18px;
  height: auto;
  margin: 0;
  padding: 0;
}

.tab__label {
  font-size: 0.6rem;
  font-weight: light;
  color: #3F4858;
  text-align: center;
  margin: 0.25rem 0 0 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.inner {
  display: block;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

@media (min-width: 418px) {
  .inner {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .inner {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .inner {
    width: 70%;
  }
}

.page {
  background: #FAFAFA;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

.page__background img {
  padding: 0;
  width: 80%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

@media (min-width: 418px) {
  .page__background img {
    width: 60%;
  }
}

.page__content {
  z-index: 3;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  position: fixed;
  width: 100vw;
  height: 50px;
  background: #fafafa;
  z-index: 99;
  -webkit-box-shadow: 0px 2px 5px 5px rgba(160, 165, 175, 0.1);
          box-shadow: 0px 2px 5px 5px rgba(160, 165, 175, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation div.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation h2 {
  font-size: 1.2rem;
  max-width: 400px;
  margin: auto 0;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation li {
  font-size: 0.9rem;
  padding: 0 1rem;
  margin: 0;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation li::after {
  display: block;
  bottom: -5px;
  content: '';
  height: 1px;
  width: 100%;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(62, 71, 86, 0.5);
  opacity: 0;
}

.navigation li:hover::after {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.navigation ul:last-child {
  padding-right: 0;
}

.home {
  padding: 0;
  min-height: 100vh;
}

.home .introduction {
  padding: 150px 0 100px 1rem;
  padding-left: 1rem;
}

.home .introduction p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 200;
  margin: 0;
}

.home .introduction h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  background-image: url("../images/HeadingBackground_w300.png");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: left center;
}

.my-sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .my-sites {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .my-sites {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-sites__heading {
    text-align: center;
  }
  .my-sites__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-sites__cards .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.my-sites__heading {
  margin-top: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.my-sites__cards {
  width: auto;
}

.card {
  width: 100%;
  max-width: 350px;
  height: 150px;
  background: white;
  overflow: hidden;
  margin: 0.5rem 0;
  position: relative;
}

.card:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

.card__label {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  background-image: url("../images/HeadingBackground_w300.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem 2rem 1rem 0.5rem;
}

.website {
  position: relative;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .website {
    max-height: 100vh;
  }
}

.website__image {
  position: relative;
  height: 220px;
  width: 100%;
  margin: 0 auto 0 0;
  background: #dfe2e8;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfe2e8), to(#e9ecf2));
  background: linear-gradient(180deg, #dfe2e8 0%, #e9ecf2 100%);
}

@media (min-width: 768px) {
  .website__image {
    height: 280px;
  }
}

.website__image--inner {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  height: 100%;
}

@media (min-width: 418px) {
  .website__image--inner {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .website__image--inner {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .website__image--inner {
    width: 70%;
  }
}

.website__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .website__image img {
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.website__image--overlay {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(160, 165, 175, 0.1)), color-stop(50%, rgba(160, 165, 175, 0)));
  background: linear-gradient(0deg, rgba(160, 165, 175, 0.1) 0%, rgba(160, 165, 175, 0) 50%);
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
}

.website__content {
  display: block;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .website__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.website__content__words {
  min-width: 400px;
  padding-right: 1rem;
}

.website__content__words h1 {
  margin: 0;
}

.website__content__words h3 {
  margin-top: 0.5rem;
}

.website__content__words h4 {
  margin-bottom: 0;
}

.website__content__words p {
  max-width: 350px;
  padding-bottom: 2rem;
  overflow-y: scroll;
}

.website__content__mockup img {
  margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 300px;
  display: block;
}

@media (min-width: 1500px) {
  .website__content__mockup img {
    max-width: 400px;
  }
}

.about {
  min-height: 100vh;
}

.about .inner {
  height: 100%;
}

@media (min-width: 768px) {
  .about .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__words {
  width: 100%;
}

@media (min-width: 768px) {
  .about__words {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .about__words {
    width: 60%;
  }
}

.about__words p {
  padding-left: 0.25rem;
  min-width: 300px;
  max-width: 400px;
}

.about__image img {
  display: none;
}

@media (min-width: 768px) {
  .about__image img {
    display: block;
    height: 500px;
  }
}

@media (min-width: 1024px) {
  .about__image img {
    height: 90vh;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
    margin: auto 0;
  }
}

body {
  padding-bottom: 100px;
}

.tablet-plus {
  display: none;
}

@media (min-width: 768px) {
  .tablet-plus {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */